@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #020617;
  color: #f8fafc;
}

::selection {
  background: rgba(56, 189, 248, 0.3);
  color: white;
}